map $http_upgrade $connection_upgrade {
  default upgrade;
  ''      close;
}

server {
  listen 80;
  server_name dreamday.local;

  location / {
    proxy_pass http://app:${NEXT_PUBLIC_APP_PORT};
    include /etc/nginx/proxy-headers.conf;
  }
}

server {
  listen 80;
  server_name supabase.local;

  location / {
    proxy_pass http://host.docker.internal:54321;
    include /etc/nginx/proxy-headers.conf;
  }
}

server {
  listen 80;
  server_name studio.supabase.local;

  location / {
    proxy_pass http://host.docker.internal:54323;
    include /etc/nginx/proxy-headers.conf;
  }
}

server {
  listen 80;
  server_name mailpit.local;

  location / {
    proxy_pass http://host.docker.internal:54324;
    include /etc/nginx/proxy-headers.conf;
  }
}
