NEXT_PUBLIC_APP_NAME='Next 16 Codebase'
NEXT_PUBLIC_APP_DEFAULT_TITLE='My PWA'
NEXT_PUBLIC_APP_TITLE_TEMPLATE='%s - Next 16 Codebase'
NEXT_PUBLIC_APP_DESCRIPTION='Next 16 Codebase'
DOPPLER_ENVIRONMENT=dev
NEXT_PUBLIC_APP_URL='http://dreamday.local'
NEXT_PUBLIC_APP_PORT=4000

# Supabase
DATABASE_PASSWORD=postgres
NEXT_PUBLIC_SUPABASE_URL='http://supabase.local'
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Posthog
# Optional; omit to disable analytics.
NEXT_PUBLIC_POSTHOG_HOST='https://us.i.posthog.com'
