NEXT_PUBLIC_APP_NAME='Next 16 Codebase'
NEXT_PUBLIC_APP_DEFAULT_TITLE='My PWA'
NEXT_PUBLIC_APP_TITLE_TEMPLATE='%s - Next 16 Codebase'
NEXT_PUBLIC_APP_DESCRIPTION='Next 16 Codebase'
NEXT_PUBLIC_APP_URL='http://localhost:3000'

# Supabase
DATABASE_PASSWORD=postgres
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=

# Posthog
NEXT_PUBLIC_POSTHOG_PROJECT_TOKEN=
NEXT_PUBLIC_POSTHOG_HOST='https://us.i.posthog.com'
